body {
	background-color:#FFF;
	margin:0px;
	font-family:Arial,Liberation Sans;
}

.title h1 {
	font-family:Arial Black,Liberation Sans;
	margin:0px;
}

.title {
	background-color:#CCC;
	text-align:center;
	margin:0px;
	top:0px;
	padding-top:25px;
	padding-bottom:25px;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.menubar {
	text-align:center;
	background-color:#DDD;
}

.menubar a {
	padding-left:10px;
	padding-right:10px;
}

.menubar ul {
	list-style:none;
	padding:0px;
}

.menubar li {
	display:inline-block;
}

.page {
	margin-left:5%;
}
