body {
	background-color:#FFF;
	margin:0px;
}

.title h1 {
	font-family:Arial Black;
	margin:0px;
}

.title {
	background-color:#CCC;
	text-align:center;
	margin:0px;
	top:0px;
	padding-top:25px;
	padding-bottom:25px;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.menubar {
	text-align:center;
}

.menubar ul {
	list-style:none;
}

.menubar li {
	display:inline-block;
}
